//Global variables
$font-stack: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary-color: #cc9543;
$generic-text-color: #4a4a4a;

//need to creat font mixin
@font-face {
    font-family: 'Norse';
    src: url('../fonts/Norse.eot');
    src: url('../fonts/Norse.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Norse.woff2') format('woff2'),
        url('../fonts/Norse.woff') format('woff'),
        url('../fonts/Norse.ttf') format('truetype'),
        url('../fonts/Norse.svg#Norse') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Norse-Bold';
    src: url('../fonts/Norse-Bold.eot');
    src: url('../fonts/Norse-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Norse-Bold.woff2') format('woff2'),
        url('../fonts/Norse-Bold.woff') format('woff'),
        url('../fonts/Norse-Bold.ttf') format('truetype'),
        url('../fonts/Norse-Bold.svg#Norse-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


//########################
//#### GLOBAL STYLING ####
//########################
.button {
    border-radius: 0.2em;
    box-shadow: 0 0.05em 0.25em 0 rgba(0,0,0,0.5);
    color: #fff;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.2px;
    padding: 1rem 3.5rem;
    text-align: center;
    text-decoration: none;
    border: none;
}

.button:hover {
    opacity: 0.8;
    color: #fff;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

h1, h2,
h3, h4 {
    color: $generic-text-color;
}

p {
    color: rgba(74,74,74,0.7);
    font-size: 18px;
    line-height: 2em;
}


//########################
//#### NAVBAR||HEADER ####
//########################
header {
    padding-bottom: 60px;
}

.navbar {
    display: flex;
    background: #ffffff;
    padding: 0 168px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 1em;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      li {
        display: inline-block;
      }

      a {
        display: flex;
        padding: 6px 12px;
        text-decoration: none;
        color: $generic-text-color;
        align-items: center;
      }
    
      a:hover {
        color: #000000;
        text-decoration: none;
      }
}

.brand {
    display: flex;
    align-items: center;

    .brand-text {
        color: $primary-color;
        font-family: 'Norse-Bold', $font-stack;
        text-transform: uppercase;
    }
}

.collapse {
    padding: 0;
    margin-bottom: 0;
    
    .navbar-item {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    .nav-link {
        padding: 8px;
    }
}


//########################
//##### HOMEPAGE #########
//########################
.hero {
    width: 100%;
    text-align: center;
    padding-bottom: 35px;
}

.accent {
    color: $primary-color;
}

.secondary {
    color: #676767;
    padding-bottom: 60px;
}

.gradient {
    background-image: linear-gradient(to bottom, #fff, #eee);
}

.button--primary {
    background-color: #6abfc3;
}


//########################
//How it works Section
.how-it-works{
    padding-top: 100px;
    margin-bottom: 70px;
    text-align: center;
}

.how-it-works-title {
    margin: 0 auto 100px;
    max-width: 550px;

    h2 {
        padding-bottom: 40px;
    }
}

.how-it-works-tiles {
    display: flex;
    justify-content: center;
    max-width: 1040px;
    margin: 0 auto;
    align-items: baseline;

    .tile {
        padding: 15px;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .subtitle {
        margin: 50px 0 20px
    }

    .description {
        text-align: center;
    }
}

.tile img {
    height: 165px;
}

.description p {
    font-size: 19px;
}


//########################
//Curriculum Section
.curriculum {
    padding-top: 60px;
    background: #f3f3f3;
    padding-bottom: 60px;
}

.curriculum-title {
    margin: 0 auto 60px;
    text-align: center;
}

.box {
    max-width: 1040px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.grid {
    justify-content: center;

    .curriculum-tile:nth-child(3n),
    .curriculum-tile:last-child {
        margin-right: 0;
    }
}

.curriculum-tile {
    box-shadow: 0 7px 16px 0 rgba(0,0,0,0.05);
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 256px;
    margin: 0 30px 30px 0;
    max-width: 254px;
    padding: 23px 46px 25px;
    text-align: center;
    width: 254px;

    img {
    height: 160px;
    width: 160px;
    }

    h4 {
        margin: 18px 0 5px;
        font-size: 20px;
    }
}

.text-center {
    text-align: center;
}

.curriculum .button {
    margin: 40px 0 0 0;
}

.button--secondary {
    background-color: $primary-color;
}


//########################
//Success Section
.success {
    padding-top: 60px;
    background-image: linear-gradient(to bottom, #fff, #eee);
}

.success-container {
    max-width: 1280px;
    min-height: 400px;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.success-title {
    margin: 0 auto 60px;
    text-align: center;
}

.success-story {
    flex-basis: 49.9%;
    display: flex;
    padding-bottom: 36px;
}

.photo {
    padding-top: 16px;
    margin: 0 20px;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        max-width: none !important;
        }
}

.name {

    a {
    color: $primary-color;
    text-decoration: none;
    }
    a:hover {
        color: #000000;
        text-decoration: none;
      }
}

.success-story-read-more {
    text-align: center;
    padding-top: 30px;

    a{
        color: #676767;
    }

    a:hover {
        color: #000000;
    }
}

.bottom-box {
    text-align: center;
    padding: 80px 40px;
    .big {
        font-size: 28px;
        margin-bottom: 36px;
    }
}


//########################
//###### FOOTER ##########
//########################
.footer,
.footer-brand,
.footer-social,
.footer-links {
    display: flex;
    background: #ffffff;
}

.footer {
    padding: 0;
    text-align: center;
    font-size: 1em;
    min-height: 277px;
    width: 100%;
    position: relative;
    bottom: 0px;

    .footer-links {
        justify-content: center;
        align-items: center;
        flex: 2;
    }
}

.footer-brand {
    justify-content: center;
    align-items: center;
    flex: 2;
    
    a {
    display: flex;
    padding: 6px 12px;
    text-decoration: none;
    color: $generic-text-color;
    align-items: center;
    }
}

.footer-social {
    justify-content: space-around;
    align-items: center;
    flex: 1;

    a {
        display: flex;
        padding: 6px 12px;
        text-decoration: none;
        align-items: center;
        color: $primary-color;
        font-size: 24px;
    }

    a:hover {
        color: #000000;
    }
}

.footer-links-box {
    width: 130px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .footer-link {
    flex-basis: 30px;
    color: rgba(74,74,74,0.7);
    font-weight: bold;
    text-decoration: none;
    margin: 0;
    }
}